// '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
//   These statements define styles for the main content on the web page 
// ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' 

// '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
//   Single-column web page
// ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' 

/* General styles for main content */
.section-1a p, .article-1b p, .aside-1c p { margin: 0 0 1rem 0; }
h1, h2 {color: black; }

/* Element-specific styles */
section.section-1a { max-width: $max-component-width; padding: 1rem; margin: 0 auto; }
h1.section-1a { text-align:center; }

div.column-1b { background-color: rgb(220,230,242); }
article.article-1b { max-width: $max-component-width; padding: 1rem; margin: 0 auto; }
img.one-column { max-width: 50%; height: auto; min-width: 270px; text-align: center; display: block; margin: 1rem auto; }

aside.aside-1c { max-width: $max-component-width; padding: 1rem; margin: 0 auto; }
img.book { max-width: 25%; height: auto; min-width: 270px; text-align: center; display: block; margin: 1rem auto; }

/* Small screen: basic */
@media (max-width: 600px) {
    .main-info h1 { font-size: 1.5rem; }
    .main-info h2 { font-size: 1.3rem; }
    .main-info p { font-size: 1rem; line-height: 1.5; }
}
/* Medium screen: basic */
@media (min-width: 601px) and (max-width: 900px) {
    .main-info h1  { font-size: 1.6rem; }
    .main-info h2 { font-size: 1.4rem; }
    div.main-info p { font-size: 1.1rem; line-height: 1.5; }
}
/* Large screen: basic */
@media (min-width: 901px) {
    .main-info h1 { font-size: 1.7rem; }
    .main-info h2 { font-size: 1.5rem; }
    div.main-info p { font-size: 1.2rem; line-height: 1.6; }
}

div.button1 { text-align: center; }
a.button1 { display: inline-block; font-size: 1.2rem; line-height: 1.8rem; margin: 1rem auto; padding: 1rem 2rem; color: white; background-color: $color1; border-radius: .4rem; font-weight: bold; }
a.button1:hover { text-decoration: none; background-color: $darkest-color1; }