{% extends 'base.html' %}

{% block content %}
    <div class="two-column-container-item">
        <img src="{{url_for('static', filename='images/pixel_sign.png')}}" alt="pixel style R&R diner sign">
        <div class="reservation-text">
            <p>Opening hours: 09:00 - 00:00</p>
            <p>Phone number: 425-831-5512</p>
            <p>Address: 135 W North Bend Way, North Bend, Washington</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23969080.168808848!2d-123.51780432985456!3d42.8324492792112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8817f1e90b200297%3A0xf56d25d23a1ccc2!2sR%26R%20Grill!5e0!3m2!1ssv!2sse!4v1731491646672!5m2!1ssv!2sse" 
            width="400" 
            height="250" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
  
{% endblock %}